@using UpBeat.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row black-text">
    <div class="col m6 offset-m3 s12">
        <div class="row center">
            <div class="col m12 s12 white-text">
                <h2>@ViewBag.Title.</h2>
            </div>
        </div>
        <section id="loginForm" class="card-panel">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                <div class="row center">
                    <div class="col m8 offset-m2 s12">
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                    </div>
                </div>
                <div class="row center">
                    <div class="col m8 offset-m2 s12 red-text">
                        @Html.ValidationSummary()
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        @Html.LabelFor(m => m.Email, new { @class = "left" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        @Html.LabelFor(m => m.Password, new { @class = "left" })
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </div>
                </div>
                <div class="row center">
                    <div class="col m8 offset-m2 s12">
                        <input type="submit" value="Log in" class="waves-effect waves-light btn" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}