@model UpBeat.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row center black-text">
    <div class="col m6 offset-m3 s12 card-panel">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
        {
            <div class="row center black-text">
                <div class="col m8 offset-m2 s12">
                    @Html.AntiForgeryToken()
                    <h4>Change your password.</h4>
                    <hr />
                </div>
            </div>
            <div class="row center">
                <div class="col m8 offset-m2 s12">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "validate" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="row center">
                <div class="col m8 offset-m2 s12">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "validate" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="row center">
                <div class="col m8 offset-m2 s12">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="row center">
                <div class="col m8 offset-m2 s12">
                    <input type="submit" value="Change password" class="waves-effect waves-light btn" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}