@model UpBeat.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row center">
    <div class="col s12 m12">
        <h2>User acount</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>
<div class="row card-panel black-text">
    <div class="col m8 offset-m2 s12">
        <div class="row center">
            <div class="col m8 offset-m2 s12">
                <h4>@Model.FirstName @Model.LastName</h4>
                <h6 class="secondary-text">@Model.Username</h6>
                <hr />
            </div>
        </div>
        <div class="row center">
            <div class="col m8 offset-m2 s12">
                <span>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </span>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m8 offset-m2">
                <h4>Favourite albums</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col m8 offset-m2 s12">
                @if (Model.FavouriteAlbums.Count > 0)
                {
                    <ol class="collection">
                        @foreach (var album in Model.FavouriteAlbums)
                        {
                            <li class="collection-item">
                                <a href="@(Url.Action<PlaylistController>(c => c.Details(album.Id)))">@album.Name</a>
                            </li>
                        }
                    </ol>
                }
                else
                {
                    <h5 class="center">No favourite albums.</h5>
                }
            </div>
        </div>
    </div>
</div>
