@using UpBeat.Web.Areas.Administration.Models
@model AlbumViewModel

<div class="row">
    @using (Html.BeginForm<AdminPanelController>(c => c.AddAlbum(null), FormMethod.Post, htmlAttributes: new { @class = "col s12", id = "addition-form" }))
    {
        HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                @Html.EditorFor(model => model.Name,
               new { htmlattributes = new { @class = "validate", id = "icon-prefix", required = true } })
                <label for="icon_prefix">Name</label>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "red-text"})
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                @Html.EditorFor(model => model.ReleaseDate,
               new { htmlattributes = new { @class="validate", id = "icon_date", required = true } })
                <label for="icon_date">Release date</label>
                <div>
                    @Html.ValidationMessageFor(m => m.ReleaseDate, "", new { @class = "red-text" })
                </div>
            </div>
        </div>

        @Html.AntiForgeryToken()
    }
</div>
