@using UpBeat.Web.Areas.Administration.Models
@model TrackViewModel

<div class="row">
    @using (Ajax.BeginForm<AdminPanelController>(c => c.AddTrack(null),
                                htmlAttributes: new { @class = "col s12", id = "addition-form" },
                                ajaxOptions: new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    OnBegin = "onFormSubmit()",
                                    LoadingElementId = "waiting-loader",
                                    OnComplete = "onFormFinish()"
                                }))
    {
        <div class="row">
            <div class="col s12 center red-text">@Html.ValidationSummary()</div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                @Html.EditorFor(model => model.Name,
               new { htmlattributes = new { @class = "validate", id = "icon-prefix", required = true } })
                <label for="icon_prefix">Name</label>

            </div>
            <div class="col s12">
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_link</i>
                @Html.EditorFor(model => model.PreviewUrl,
               new { htmlattributes = new { @class = "validate", id = "insert_link", required = true } })
                <label for="insert_link">Preview Url</label>
                @Html.ValidationMessageFor(m => m.PreviewUrl, "", new { @class = "red-text" })
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <i class="material-icons prefix">album</i>
                @Html.DropDownListFor(model => model.AlbumName, Model.AlbumSelectList, new { @class = "inline-block", required = true })
                @Html.ValidationMessageFor(m => m.AlbumName, "", new { @class = "red-text" })
            </div>
        </div>

        @Html.AntiForgeryToken()
    }
</div>
