@using Microsoft.AspNet.Identity
@using UpBeat.Common.Constants;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm<AccountController>(c => c.LogOff(), FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        if (User.IsInRole(DataConstants.AdminRoleName))
        {
            <li>@(Html.ActionLink<AdminPanelController>("Administration", c => c.Index()))</li>
        }
        <li>
            @(Html.ActionLink<ManageController>("Hello " + User.Identity.GetUserName() + "!", c => c.Index(null), htmlAttributes: new { title = "Manage" }))
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
    <li>@(Html.ActionLink<AccountController>("Register", c => c.Register(null), htmlAttributes: new { id = "registerLink" }))</li>
    <li>@(Html.ActionLink<AccountController>("Log in", c => c.Login(null), htmlAttributes: new { id = "loginLink" }))</li>
}
